{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{{ product.page_title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body>
<div class="wrapper">
    <div>
        <div class="content">
            <div>
                <a href="{% url "index" %}" class="go-back">На главную</a>
                {% if product.name %}
                    <h1>{{ product.name }}</h1>
                {% endif %}
                {% if product.photo %}
                    <img src="{{ product.photo.url }}" width="{{ product.photo_width }}"
                         height="{{ product.photo_height }}" alt="{{ product.name }}">
                {% endif %}
                <div class="product-info">
                    {#                <div class="product-info-item">#}
                    {#                    <h2>Заголовк списка №1</h2>#}
                    {#                    <ul>#}
                    {#                        <li>Супер длинный первый пункт списка, такой, чтобы переносился</li>#}
                    {#                        <li>Второй пункт списка</li>#}
                    {#                        <li>Третий пункт списка</li>#}
                    {#                    </ul>#}
                    {#                </div>#}
                    {#                <div class="product-info-item">#}
                    {#                    <h2>Заголовк списка №2</h2>#}
                    {#                    <ul>#}
                    {#                        <li>Первый пункт списка</li>#}
                    {#                        <li>Второй пункт списка</li>#}
                    {#                    </ul>#}
                    {#                </div>#}
                    {#                <div class="product-info-item">#}
                    {#                    <h2>Заголовк списка №3</h2>#}
                    {#                    <ul>#}
                    {#                        <li>Первый пункт списка</li>#}
                    {#                    </ul>#}
                    {% for list in product.option_set.all %}
                        <div class="product-info-item">
                            <h2>{{ list.title }}</h2>
                            <ul>
                                {% for item in list.suboption_set.all %}
                                    <li>{{ item.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</body>
</html>